body {
    font-family: system-ui, BlinkMacSystemFont, -apple-system, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    padding: 1rem;
    margin: 0;
}

h1 {
    margin-top: 0;
}

ul, ol {
    padding-left: 1.25rem;
}

li:not(:last-child) {
    margin-bottom: .75rem;
}

ul ul, ul ol, ol ul, ol ol {
    margin-top: .75rem;
    padding-left: 2.25rem;
}

.praesi-notes {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.praesi-notes-text,
.praesi-notes-slide-image {
    width: 100%;
    max-width: 100%;
    margin-bottom: 1rem;
}

@media (min-width: 640px) {
    .praesi-notes-has-slide-image.praesi-notes {
        flex-direction: row;
    }

    .praesi-notes-has-slide-image .praesi-notes-text {
        width: 38%;
    }

    .praesi-notes-has-slide-image .praesi-notes-slide-image {
        width: 58%;
    }
}

.praesi-notes-slide-image img {
    width:100%;
    height:auto;
    margin:1rem auto;
    border:thin solid #f0f0f0;
}
