html {
    font-size: 16px;
    line-height: 1.3;
}

.praesi-slide:not(:first-child) {
    break-before: page;
}

h1,
.h1 {
    font-family: "Libre Franklin", sans-serif;
    font-size: 8rem;
}

h2,
.h2 {
    font-family: "Libre Franklin", sans-serif;
    font-size: 4rem;
}

h3,
.h3 {
    font-size: 2rem;
}

h4,
.h4 {
    font-size: 1.25rem;
}

pre {
    background-color: transparent;
    width: 100%;
    height: 100%;
    font-size: 1rem;
    line-height: 1.5;

    page-break-inside: avoid;
    break-inside: avoid;
}

pre code {
    background-color: transparent;
    width: 100%;
    height: 100%;

    page-break-inside: avoid;
    break-inside: avoid;
}

figure {
    page-break-inside: avoid;
    break-inside: avoid;
}

.visually-hidden {
    border-width: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    white-space: nowrap;
}

.list {
}

.list li:not(:last-child) {
    margin-bottom: .75em;
}

.list .list {
    margin-top: .75em;
}

.center-absolute {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.text-xxs {
    font-size: .5rem;
}

.text-shadow {
    text-shadow: 0 0 2rem rgba(0, 0, 0, 0.25);
}

.text-rainbow {
    background: linear-gradient(to right, red , yellow, green, cyan, blue, violet);
    background-clip: text;
    color: transparent;
}

.button:active {
    position: relative;
    top: .125rem;
    left: .125rem;
    box-shadow: 0 0 .25rem inset rgba(0, 0, 0, .25);
}

/* Browser mockup code
 * Contribute: https://gist.github.com/jarthod/8719db9fef8deb937f4f
 * Live example: https://updown.io
 */

.browser-mockup {
    border: 1px solid rgba(230, 230, 230, 0.7);
    border-top-width: 2em;
    box-shadow: 0 0.1em 1em 0 rgba(0, 0, 0, 0.33);
    position: relative;
    border-radius: .25rem;
}

.browser-mockup:before {
    display: block;
    position: absolute;
    content: '';
    top: -1.25em;
    left: .5em;
    width: 0.5em;
    height: 0.5em;
    border-radius: 50%;
    background-color: #f44;
    box-shadow: 0 0 0 2px #fc605c, 1em 0 0 2px #fdbc40, 2em 0 0 2px #34c749;
}

.browser-mockup.with-tab:after {
    display: block;
    position: absolute;
    content: '';
    top: -1.5em;
    left: 4em;
    width: 25%;
    height: 0;
    border-bottom: 2em solid white;
    border-left: 0.75em solid transparent;
    border-right: 0.75em solid transparent;
}

.browser-mockup.with-url:after {
    display: block;
    position: absolute;
    content: '';
    top: -1.6em;
    left: 4em;
    width: calc(100% - 5em);
    height: 1.2em;
    border-radius: 2px;
    background-color: white;
}

.browser-mockup > * {
    display: block;
    border-bottom-left-radius: .25rem;
    border-bottom-right-radius: .25rem;
}
