.praesi {
    background: #fff;
}

.praesi-ready {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #f0f0f0;
    overflow: hidden;
}

.praesi-ready .praesi-stage {
    position: absolute;
    width: 960px;
    height: 540px;
    overflow: hidden;
    backface-visibility: hidden;
    transform-origin: 0 0;
    background: #fff;
}

.praesi-slide {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.no-praesi .praesi-slide {
    padding-top: 4rem;
    padding-bottom: 4rem;
    border-bottom: 1px solid #f0f0f0;
}

.praesi-ready .praesi-slide {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    pointer-events: none;

    opacity: 0;
    transition: opacity 0s ease 0s;

    /* Prevents font blurring in Chrome */
    transform: translateZ(0);
}

.praesi-ready .praesi-slide-active {
    pointer-events: all;
    opacity: 1;
}

.praesi-notes {
    display: none;
}
