.praesi-code-highlight {
    position: relative;
    overflow: hidden;
}

.praesi-code-highlight > :not(.praesi-code-highlight-bar) {
    position: relative;
    z-index: 2;
}

.praesi-code-highlight-bar {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    opacity: 0;

    background: rgba(0, 0, 0, 0.1);
}
