/* libre-franklin-regular - latin */
@font-face {
    font-family: 'Libre Franklin';
    font-style: normal;
    font-weight: 400;
    src: local('Libre Franklin'), local('LibreFranklin-Regular'),
    url('libre-franklin-v3-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('libre-franklin-v3-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* libre-franklin-italic - latin */
@font-face {
    font-family: 'Libre Franklin';
    font-style: italic;
    font-weight: 400;
    src: local('Libre Franklin Italic'), local('LibreFranklin-Italic'),
    url('libre-franklin-v3-latin-italic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('libre-franklin-v3-latin-italic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* libre-franklin-500 - latin */
@font-face {
    font-family: 'Libre Franklin';
    font-style: normal;
    font-weight: 500;
    src: local('Libre Franklin Medium'), local('LibreFranklin-Medium'),
    url('libre-franklin-v3-latin-500.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('libre-franklin-v3-latin-500.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* libre-franklin-500italic - latin */
@font-face {
    font-family: 'Libre Franklin';
    font-style: italic;
    font-weight: 500;
    src: local('Libre Franklin Medium Italic'), local('LibreFranklin-MediumItalic'),
    url('libre-franklin-v3-latin-500italic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('libre-franklin-v3-latin-500italic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* libre-franklin-700 - latin */
@font-face {
    font-family: 'Libre Franklin';
    font-style: normal;
    font-weight: 700;
    src: local('Libre Franklin Bold'), local('LibreFranklin-Bold'),
    url('libre-franklin-v3-latin-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('libre-franklin-v3-latin-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* libre-franklin-700italic - latin */
@font-face {
    font-family: 'Libre Franklin';
    font-style: italic;
    font-weight: 700;
    src: local('Libre Franklin Bold Italic'), local('LibreFranklin-BoldItalic'),
    url('libre-franklin-v3-latin-700italic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('libre-franklin-v3-latin-700italic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
