.praesi-animate {
    animation-duration: .3s;
    animation-fill-mode: both;
    animation-timing-function: ease;
}

.praesi-animate-linear {
    animation-timing-function: linear;
}

/* Animations */

/* @TODO Improve me! */
@keyframes praesi-animate-disappear {
    0% {
        visibility: hidden;
    }

    100% {
        visibility: hidden;
        width: 0;
        padding: 0;
        margin: 0;
        border: 0;
    }
}

.praesi-animate-disappear {
    animation-name: praesi-animate-disappear;
}

@keyframes praesi-animate-move-in-full-width {
    0% {

    }

    100% {
        transform: translate3d(0, 0, 0);
        visibility: visible;
        width: 100%;
    }
}

.praesi-animate-move-in-full-width {
    animation-name: praesi-animate-move-in-full-width;
}

@keyframes praesi-animate-move-in {
    0% {

    }

    100% {
        transform: translate3d(0, 0, 0);
        visibility: visible;
    }
}

.praesi-animate-move-in {
    animation-name: praesi-animate-move-in;
}

@keyframes praesi-animate-center-in-left {
    0% {

    }

    100% {
        transform: translate3d(75%, 0, 0);
    }
}

.praesi-animate-center-in-left {
    animation-name: praesi-animate-center-in-left;
}

@keyframes praesi-animate-center-out-left {
    0% {
        transform: translate3d(75%, 0, 0);
    }

    100% {
        transform: translate3d(0, 0, 0);
    }
}

.praesi-animate-center-out-left {
    animation-name: praesi-animate-center-out-left;
}

@keyframes praesi-animate-rotate {
    0% {
        transform-origin: center;
        transform: rotate(0deg);
    }

    100% {
        transform-origin: center;
        transform: rotate(360deg);
    }
}

.praesi-animate-rotate {
    animation-name: praesi-animate-rotate;
}

@keyframes praesi-animate-bounce {
    from,
    20%,
    53%,
    80%,
    to {
        animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
        transform: translate3d(0, 0, 0);
    }

    40%,
    43% {
        animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
        transform: translate3d(0, -30px, 0);
    }

    70% {
        animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
        transform: translate3d(0, -15px, 0);
    }

    90% {
        transform: translate3d(0, -4px, 0);
    }
}

.praesi-animate-bounce {
    animation-name: praesi-animate-bounce;
    transform-origin: center bottom;
}

@keyframes praesi-animate-pulse {
    from {
        transform: scale3d(1, 1, 1);
    }

    50% {
        transform: scale3d(1.1, 1.1, 1.1);
    }

    to {
        transform: scale3d(1, 1, 1);
    }
}

.praesi-animate-pulse {
    animation-name: praesi-animate-pulse;
    transform-origin: center;
}

@keyframes praesi-animate-fade-in {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.praesi-animate-fade-in {
    animation-name: praesi-animate-fade-in;
}

@keyframes praesi-animate-fade-in-up {
    from {
        opacity: 0;
        transform: translate3d(0, 100%, 0);
    }

    to {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}

.praesi-animate-fade-in-up {
    animation-name: praesi-animate-fade-in-up;
}

@keyframes praesi-animate-fade-in-left {
    from {
        opacity: 0;
        transform: translate3d(-100%, 0, 0);
    }

    to {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}

.praesi-animate-fade-in-left {
    animation-name: praesi-animate-fade-in-left;
}

@keyframes praesi-animate-fade-in-right {
    from {
        opacity: 0;
        transform: translate3d(100%, 0, 0);
    }

    to {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}

.praesi-animate-fade-in-right {
    animation-name: praesi-animate-fade-in-right;
}

@keyframes praesi-animate-fade-in-down {
    from {
        opacity: 0;
        transform: translate3d(0, -100%, 0);
    }

    to {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}

.praesi-animate-fade-in-down {
    animation-name: praesi-animate-fade-in-down;
}

@keyframes praesi-animate-fade-out {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

.praesi-animate-fade-out {
    animation-name: praesi-animate-fade-out;
}

@keyframes praesi-animate-fade-out-up {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
        transform: translate3d(0, -100%, 0);
    }
}

.praesi-animate-fade-out-up {
    animation-name: praesi-animate-fade-out-up;
}

@keyframes praesi-animate-fade-out-left {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
        transform: translate3d(-100%, 0, 0);
    }
}

.praesi-animate-fade-out-left {
    animation-name: praesi-animate-fade-out-left;
}

@keyframes praesi-animate-zoom-in {
    from {
        opacity: 0;
        transform: scale3d(0.3, 0.3, 0.3);
    }

    50% {
        opacity: 1;
    }
}

.praesi-animate-zoom-in {
    transform-origin: 0 0;
    animation-name: praesi-animate-zoom-in;
}

@keyframes praesi-animate-zoom-out {
    from {
        opacity: 1;
    }

    50% {
        opacity: 0;
        transform: scale3d(0.3, 0.3, 0.3);
    }

    to {
        opacity: 0;
    }
}

.praesi-animate-zoom-out {
    transform-origin: 0 0;
    animation-name: praesi-animate-zoom-out;
}

/* Iterations */

.praesi-animate.praesi-animate-repeat-2 {
    animation-iteration-count: 2;
}

.praesi-animate.praesi-animate-repeat-infinite {
    animation-iteration-count: infinite;
}

/* Durations */

.praesi-animate.praesi-animate-duration-0 {
    animation-duration: 0s;
}

.praesi-animate.praesi-animate-duration-1 {
    animation-duration: .1s;
}

.praesi-animate.praesi-animate-duration-2 {
    animation-duration: .2s;
}

.praesi-animate.praesi-animate-duration-3 {
    animation-duration: .3s;
}

.praesi-animate.praesi-animate-duration-4 {
    animation-duration: .4s;
}

.praesi-animate.praesi-animate-duration-5 {
    animation-duration: .5s;
}

.praesi-animate.praesi-animate-duration-6 {
    animation-duration: .6s;
}

.praesi-animate.praesi-animate-duration-7 {
    animation-duration: .7s;
}

.praesi-animate.praesi-animate-duration-8 {
    animation-duration: .8s;
}

.praesi-animate.praesi-animate-duration-9 {
    animation-duration: .9s;
}

.praesi-animate.praesi-animate-duration-10 {
    animation-duration: 1s;
}

.praesi-animate.praesi-animate-duration-20 {
    animation-duration: 2s;
}

.praesi-animate.praesi-animate-duration-25 {
    animation-duration: 2.5s;
}

/* Delays */

.praesi-animate.praesi-animate-delay-0 {
    animation-delay: 0s;
}

.praesi-animate.praesi-animate-delay-1 {
    animation-delay: .1s;
}

.praesi-animate.praesi-animate-delay-2 {
    animation-delay: .2s;
}

.praesi-animate.praesi-animate-delay-3 {
    animation-delay: .3s;
}

.praesi-animate.praesi-animate-delay-4 {
    animation-delay: .4s;
}

.praesi-animate.praesi-animate-delay-5 {
    animation-delay: .5s;
}

.praesi-animate.praesi-animate-delay-6 {
    animation-delay: .6s;
}

.praesi-animate.praesi-animate-delay-7 {
    animation-delay: .7s;
}

.praesi-animate.praesi-animate-delay-8 {
    animation-delay: .8s;
}

.praesi-animate.praesi-animate-delay-9 {
    animation-delay: .9s;
}

.praesi-animate.praesi-animate-delay-10 {
    animation-delay: 1s;
}

/* Pointer events */

.praesi-ready [class*="-out"] {
    pointer-events: none;
}

/* No space */

.praesi-ready .praesi-no-space:not([class*="-in-"]):not([class$="-in"]):not(.bounce) {
    display: none;
}

@media (print), (prefers-reduced-motion) {
    /*.praesi-animate {
        animation: unset !important;
        transition: none !important;
    }*/
}
